body {
    /*background-image: url("../images/page7.jpg");*/
    /*background-image: url("../images/mon2.jpg");*/
    background-image:url("../images/pp.png");
    background-size:cover;

}
div.board {
    /*background-image: url("../images/land2.jpg");*/
    background-color: #6b3541;
    /*background-image: url("../images/mon2.jpg");*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size:cover;
    border: 3px solid #716155;
    width: 600px;
    height: 600px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    z-index:1;
}
.divTable.board .divTableCell,.divTable.board .divTableHead {
    border: 1px solid #326765;
    padding: 0px 0px;
    user-select: none;
}
.concedeMsg
{

    font-size: larger;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 200px;
    text-align: justify;
    color: #ffeff2
}
.status_update
{
    width: 280px;
    height: 180px;
    border-radius: 25px;
    background-color: #3e5c72;
}
.text_field
{
    width:240px;
    height:160px;
    color:white;
    margin:auto;
}
.confirmConcede
{

    background-color: #404040;
    position: absolute;
    top: 174px;
    left: 350px;
    width: 280px;
    height: 180px;
    z-index: 2;
    box-shadow: 10px 10px 5px grey;
    visibility: hidden;
}
.concedeOK
{
    position: absolute;
    top: 100px;
    left: 15px;
    width: 80px;
    height: 40px;
    font-size: 16px;
}
.concedeNO
{
    position: absolute;
    top: 100px;
    right: 15px;
    width: 80px;
    height: 40px;
    font-size: 16px;
}

.pieces
{
    min-width: 50px;
    min-height: 50px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.divTableCell1
{
    background-image: url("../images/ocean.jpg");
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
}

.blue_front
{

    position:absolute;

}
.red_back
{

    position: absolute;
}
.red_front
{
    position:absolute;
    max-width:58px;
    max-height:58px;

}

.blue_back
{
    position:absolute;
    max-width:58px;
    max-height:58px;
    object-fit: scale-down;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;


}
.red_pieces
{
    position: absolute;


}
.blue_pieces
{
    position: absolute;

}

.blank{
    position: absolute;
}


.highlighted {
    background-color: #000000;
    position: absolute;
    border:3px;
    opacity:0.7;
    filter: brightness(90%);
    transition: all 0.50s;
}

.red_pieces:hover{
    opacity: 0.9;
}
.btn-primary{

     width:80%;
     display:block;
     margin:auto;

 }
.whiteText{
    color:white;
    font-size:20px;
    list-style: none;

}
.sidebarImage{
    width:30%;
    height: 20%;
    padding-bottom: 2px;
}
/*.status*/
/*{*/
/*    min-height: 200px;*/
/*    min-width: 400px;*/
/*    border-radius: 18px;*/
/*    background-color: #517256;*/
/*    display: inline-block;*/

/*    float: right;*/
/*    text-align: center;*/
/*    margin-left:auto;*/
/*    margin-right:auto;*/
/*}*/
.btn-info{

    width:8%;
    display:block;
    margin-left: auto;
    margin-right: auto;

}
.rectangle {
    max-height: 700px;
    max-width: 150px;
    height:600px;
    width:150px;
    border-radius: 25px;
    background-color: #3e5c72;
    /*padding:10px;*/
    /*display:inline-block;*/
    float: left;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.play_buttons {
    max-height: 700px;
    max-width: 150px;
    height:350px;
    width:150px;
    border-radius: 25px;
    background-color: #3e5c72;

    float: left;

    margin-left:auto;
    margin-right:auto;
}
.column
{
    float:left;
}
.btn-invis{


    visibility: hidden;

}
.center {
     margin: auto;
     width: 60%;
     color: white;
     padding: 10px;
 }
.right{

}
.divTable{ display: table; user-select:none}

.page{
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    display:table;
    padding:20px;
    transform: translateY(5%);
    box-sizing: border-box;
}
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableCell1, .divTableHead {display:table-cell;width:50px ;height:50px;z-index:1; }
.blue_front{user-select:none;}
.divTableBody { display: table-row-group;z-index:1}