.home_buttons {

    width: 200px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

}
body {
    background-image: url("../images/mon2.jpg");
    background-size:cover;
}
.center {

    margin: auto;
}
.pog
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding:10px;
    justify-content: center;
    flex-direction: column;
}