<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login </title>
</head>
<body>
<h1> Welcome to Stratego!</h1>

<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<div th:text="${errorMessge != null} ? ${errorMessge}" style="color:red" > </div>

<br>

<form th:action="@{/login}" method="post">
<!--    <div><label> Username : <input type="text" name="username"/> </label></div>-->
<!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--    <div><input type="submit" value="Sign In"/></div>-->
    <table>
        <tr>
            <td>Username:</td>
            <td><label>
                <input type='text' name='username' value=''>
            </label></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label>
                <input type='password' name='password' />
            </label></td>
        </tr>
        <tr>
            <td colspan='2'><input name="submit" type="submit" value="sign in" /></td>
        </tr>
    </table>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

    <p>Click <a th:href="@{/register}">here</a> to register.</p>
</form>
</body>
</html>