<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
<head>
    <title>Stratego</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/home_style.css" th:href="@{/css/home_style.css}" rel="stylesheet"/>
</head>
<body>

<div class="pane">
    <div class="d-flex align-items-center justify-content-center">

        <img class="head"  src="../static/images/Stratego.png" th:src="@{images/Stratego.png}" />
    </div>



<br>


<form th:action="@{/login}" method="post">
    <!--    <div><label> Username : <input type="text" name="username"/> </label></div>-->
    <!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
    <!--    <div><input type="submit" value="Sign In"/></div>-->


    <form>
        <div class="form-group row d-flex justify-content-center">
            <label class="col-sm-auto col-form-label">Username</label>
            <div class="col-sm-auto">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
            </div>
        </div>
        <div class="form-group row d-flex justify-content-center">
            <label for="inputPassword" class="col-sm-auto col-form-label">Password</label>
            <div class="col-sm-auto">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="form-group row col-sm-auto d-flex justify-content-center">
            <div class="col-sm-auto">
                <input name="submit" class="form-control col-sm-auto" type="submit" value="Sign in" />
            </div>

            <a th:href="@{/register}">
                <input type="button" class="form-control" value="Register"/>
            </a>
        </div>
    </form>



</form>


    <div class="center" >
        <div th:text="${errorMessge != null} ? ${errorMessge}" style="color:red"></div>

    </div>
</div>
</body>
</html>