
<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link href="../static/css/home_style.css" th:href="@{/css/home_style.css}" rel="stylesheet"/>

<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration</title>
</head>

<body>

    <div class="pane">



            <div class="row align-items-center justify-content-center">
            <img class="head"  src="../static/images/Registration.png" th:src="@{images/Registration.png}" />
            </div>
            <br>
            <!--error messages-->


                    <form th:action="@{/register}" th:object="${user}" method="post">

                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-auto col-form-label">Username</label>
                            <div class="col-sm-auto">
                                <input type="text" class="form-control" placeholder="Username" name="username">
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-auto col-form-label">Password</label>
                            <div class="col-sm-auto">
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>


                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <button type="submit" class="btn home_buttons btn-success">Register</button>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <span>Already registered?  <a href="/" class="center" th:href="@{/login}">Login here</a></span>

                        </div>




                    </form>
<!--        <div class="form-group justify-content-center">-->



<!--        </div>-->


        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered
                to Stratego!</div>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-info">You've successfully registered
                to Stratego!</div>
        </div>
        <br>
            <div th:text="${errorMessge != null} ? ${errorMessge}" style="transform: translateX(5%); color:#ff3620" > </div>


        </div>



<!--<script type="text/javascript"-->
<!--        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>-->
<!--<script type="text/javascript"-->
<!--        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
</body>



</html>